#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.border {
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  padding: 10px;
  margin-top: 15px;
}

.randomList {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #1a1a1a;
}

.randomList-Clicked {
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
}

.randomList-Matched {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
}

.score {
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gameMenu-list { 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  width: auto;              
  border: 2px solid white;  
  padding: 20px;            
  margin-top: 20px; 
  gap: 15px;                
}

.gameMenu-list-item { 
  list-style-type: none; 
  width: 120px;           
  height: 120px;            
  border: 3px solid black; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 20px;         
  font-weight: bold; 
  transition: 0.3s ease; 
  cursor: pointer; 
  color: #1a1a1a; 
}