.game-border {
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    height: 400px;
    padding: 10px;
    margin-top: 15px;
  }
  
  .game-number {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .game-list-item {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
  }
  
  .menuButton {
    display:flex;
    flex-direction:column;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .game-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .box {
    width: 250px;
    display: flex;
    justify-content: center;
  }
  
  .row {
    display:flex;
    flex-direction: row;
  }
  
